/* ::::: http://s01.mifile.cn/css/base.min.css?v2016d24 ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:active, a:hover { outline: 0px none; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
h4 { font-size: 1em; margin: 1.33em 0px; }
p, pre { margin: 1em 0px; }
q::before, q::after { content: none; }
dl, menu, ol, ul { margin: 1em 0px; }
dd { margin: 0px 0px 0px 40px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
body { font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); min-width: 1226px; }
a { color: rgb(117, 117, 117); text-decoration: none; }
a:hover { color: rgb(255, 103, 0); text-decoration: none; }
.clearfix {  }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.hide { display: none ! important; }
.ir { display: block; text-align: left; text-indent: -9999em; overflow: hidden; }
.sep, .ndash { margin: 0px 0.25em; font-family: sans-serif; }
.container { width: 1226px; margin-right: auto; margin-left: auto; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.row { margin-left: -14px; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.page-main { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 { float: left; margin-left: 14px; min-height: 1px; }
.span4 { width: 234px; }
@font-face {
  font-family: "iconfont";  src: url('iconfont.eot') format("embedded-opentype");}
@font-face {
  font-family: "iconfont";  font-weight: normal;  src: url('undefined') format("woff");}
.iconfont { font-family: "iconfont" ! important; font-style: normal; }
.btn { display: inline-block; width: 158px; height: 38px; padding: 0px; margin: 0px; border: 1px solid rgb(176, 176, 176); font-size: 14px; line-height: 38px; text-align: center; color: rgb(176, 176, 176); cursor: pointer; transition: all 0.4s ease 0s; }
.btn:hover { text-decoration: none; color: rgb(176, 176, 176); }
.btn:focus { outline: 0px none; }
.btn:active { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18) inset; }
.btn-small { width: 118px; height: 28px; font-size: 12px; line-height: 28px; }
input.btn, button.btn { width: 160px; height: 40px; }
.btn-gray { background: rgb(176, 176, 176) none repeat scroll 0% 0%; border-color: rgb(176, 176, 176); color: rgb(255, 255, 255); }
.btn-gray:hover { background-color: rgb(117, 117, 117); border-color: rgb(117, 117, 117); color: rgb(255, 255, 255); }
.btn-primary { background: rgb(255, 103, 0) none repeat scroll 0% 0%; border-color: rgb(255, 103, 0); color: rgb(255, 255, 255); }
.btn-primary:hover { background-color: rgb(242, 88, 7); border-color: rgb(242, 88, 7); color: rgb(255, 255, 255); }
.btn-line-primary { border-color: rgb(255, 103, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(255, 103, 0); }
.btn-line-primary:hover { color: rgb(255, 255, 255); background-color: rgb(242, 88, 7); border-color: rgb(242, 88, 7); }
.input-text { width: 186px; height: 18px; padding: 10px 16px; border: 1px solid rgb(224, 224, 224); font-size: 14px; line-height: 18px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; transition: border-color 0.2s linear 0s; }
.input-text:hover { border-color: rgb(176, 176, 176); }
.input-text:focus { outline: 0px none; }
.form-section .input-text::-moz-placeholder { color: rgb(255, 255, 255); }
.form-section .input-text[disabled]::-moz-placeholder { color: rgb(245, 245, 245); }
.form-section .msg-error::after { position: absolute; top: 30px; left: 15px; width: 12px; height: 6px; content: ""; background: transparent url('undefined') no-repeat scroll 50% 50%; }
.form-section-focus .input-text::-moz-placeholder { color: rgb(176, 176, 176); transition: color 0.2s linear 0.2s; }
.loading { padding: 20px 0px; }
.loader { position: relative; margin: 0px auto; width: 4px; height: 20px; background: rgb(255, 103, 0) none repeat scroll 0% 0%; overflow: visible; animation-delay: 0s; transform: scale(1, 1); }
.loader, .loader::before, .loader::after { transform-origin: 50% 50% 0px; animation-name: loader; animation-duration: 0.3s; animation-timing-function: linear; animation-iteration-count: infinite; animation-direction: alternate-reverse; }
.loader::before, .loader::after { position: absolute; left: 50%; top: 50%; width: 4px; height: 20px; content: ""; background: rgb(255, 103, 0) none repeat scroll 0% 0%; }
.loader::before { margin: -10px 0px 0px -10px; animation-delay: 0.25s; transform: scale(1, 0.3); }
.loader::after { margin: -10px 0px 0px 6px; animation-delay: 0.5s; transform: scale(1, 0.5); }
.loader-white, .loader-white::before, .loader-white::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.loader-gray, .loader-gray::before, .loader-gray::after { background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.fade.in { opacity: 1; }
.modal { position: fixed ! important; top: 50%; left: 50%; z-index: 1050; width: 660px; margin-left: -330px; margin-top: -300px; background-color: rgb(255, 255, 255); outline: medium none; }
.modal.fade { transition: opacity 0.4s linear 0s, top 0.4s ease-out 0s; top: -25%; }
.modal.fade.in { top: 50%; }
.modal .close { position: absolute; top: 14px; right: 14px; width: 30px; height: 30px; line-height: 30px; text-align: center; color: rgb(117, 117, 117); cursor: pointer; transition: all 0.2s ease 0s; z-index: 10; border-radius: 15px; }
.modal .close:hover { color: rgb(255, 255, 255); background-color: rgb(229, 57, 53); }
.modal .close .iconfont { font-size: 24px; font-weight: 200; vertical-align: middle; }
.modal-hide { display: none; }
.modal-header, .modal-hd { position: relative; height: 32px; padding: 14px 20px; background-color: rgb(245, 245, 245); }
.modal-header h3, .modal-header .title, .modal-hd h3, .modal-hd .title { margin: 0px; font-size: 18px; font-weight: 400; line-height: 32px; color: rgb(66, 66, 66); }
.modal-body, .modal-bd { position: relative; max-height: 400px; padding: 40px 60px; }
.modal-footer, .modal-ft { height: 40px; padding: 20px 0px; border-top: 1px solid rgb(224, 224, 224); text-align: center; background-color: rgb(245, 245, 245); }
.modal-footer::before, .modal-footer::after, .modal-ft::before, .modal-ft::after { content: " "; display: table; }
.modal-footer::after, .modal-ft::after { clear: both; }
.modal-footer .btn, .modal-ft .btn { margin: 0px 7px; }
.modal-alert { width: 500px; margin-left: -250px; }
.modal-alert .modal-bd { padding: 60px 60px 40px; text-align: center; }
.modal-alert .text { min-height: 130px; }
.modal-alert h3, .modal-alert .title { margin: 0px; font-size: 30px; font-weight: 400; line-height: 50px; color: rgb(66, 66, 66); }
.modal-alert .actions .btn { margin: 0px 7px; }
.site-header { position: relative; z-index: 20; height: 100px; }
.site-header .container { position: relative; }
.site-header .header-logo { float: left; width: 62px; margin-top: 22px; }
.site-header .logo { position: relative; display: block; width: 55px; height: 55px; overflow: hidden; background-color: rgb(255, 103, 0); }
.site-header .logo::before, .site-header .logo::after { position: absolute; left: 0px; top: 0px; z-index: 1; width: 55px; height: 55px; content: ""; transform-origin: 50% 50% 0px; transition: all 0.2s ease 0s; }
.site-header .logo::before { background: transparent url('mi-logo.png') no-repeat scroll 50% 50%; opacity: 1; transform: translate3d(0px, 0px, 0px); }
.site-header .logo::after { background: transparent url('mi-home.png') no-repeat scroll 50% 50%; opacity: 0; margin-left: -55px; transform: translate3d(0px, 0px, 0px); }
.site-header .logo:focus { outline: 0px none; }
.site-header .logo:hover::before { opacity: 0; transform: translate3d(55px, 0px, 0px); }
.site-header .logo:hover::after { opacity: 1; transform: translate3d(55px, 0px, 0px); }
.site-header .logo:active::after { transform: translate3d(55px, 0px, 0px) scale(0.9); }
.site-header .nav-item-active::after { position: absolute; top: 50px; left: 50%; width: 600px; height: 40px; margin-left: -300px; content: ""; background-color: transparent; }
.site-header .header-nav-menu .children-list li::before { position: absolute; left: 0px; top: 35px; z-index: 1; width: 1px; height: 100px; content: ""; background-color: rgb(224, 224, 224); }
.site-header .header-nav-menu .children-list .first::before { display: none; }
.site-footer .footer-service { padding: 27px 0px; border-bottom: 1px solid rgb(224, 224, 224); }
.site-footer .list-service { margin: 0px; padding: 0px; list-style-type: none; }
.site-footer .list-service li { float: left; width: 19.8%; height: 25px; border-left: 1px solid rgb(224, 224, 224); font-size: 16px; line-height: 25px; text-align: center; }
.site-footer .list-service li:first-child { border-left: 0px none; }
.site-footer .list-service .iconfont { margin-right: 6px; font-size: 24px; line-height: 24px; vertical-align: -4px; }
.site-footer .list-service a { color: rgb(97, 97, 97); transition: color 0.2s ease 0s; }
.site-footer .list-service a:hover { color: rgb(255, 103, 0); }
.site-footer .footer-links { padding: 40px 0px; }
.site-footer .footer-links .col-links { float: left; width: 160px; height: 112px; margin: 0px; }
.site-footer .footer-links .col-links dt { margin: -1px 0px 26px; font-size: 14px; line-height: 1.25; color: rgb(66, 66, 66); }
.site-footer .footer-links .col-links dd { margin: 10px 0px 0px; font-size: 12px; }
.site-footer .footer-links .col-links a { color: rgb(117, 117, 117); }
.site-footer .footer-links .col-links a:hover { color: rgb(255, 103, 0); }
.site-footer .footer-links .col-contact { float: right; width: 251px; height: 112px; border-left: 1px solid rgb(224, 224, 224); text-align: center; color: rgb(97, 97, 97); }
.site-footer .footer-links .col-contact p { margin: 0px 0px 16px; font-size: 12px; }
.site-footer .footer-links .col-contact .phone { margin: 0px 0px 5px; font-size: 22px; line-height: 1; color: rgb(255, 103, 0); }
.site-info { padding: 30px 0px; font-size: 12px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.site-info .logo { float: left; width: 57px; height: 57px; margin-right: 10px; background: transparent url('logo-footer.png') no-repeat scroll 50% 50%; }
.site-info .info-text { float: left; color: rgb(176, 176, 176); }
.site-info .info-text p { margin: 0px; line-height: 18px; }
.site-info .info-text a { color: rgb(176, 176, 176); }
.site-info .info-text a:hover { color: rgb(255, 103, 0); }
.site-info .info-text .sites a { color: rgb(117, 117, 117); }
.site-info .info-text .sites a:hover { color: rgb(255, 103, 0); }
.site-info .info-links { float: right; height: 28px; margin: 4px 0px 0px; }
.site-info .info-links img { width: auto; height: 28px; margin-left: 7px; }
.site-info .slogan { clear: both; margin: 30px auto 0px; width: 267px; height: 19px; background: transparent url('slogan2016.png') no-repeat scroll center 0px; }
.site-mini-header { font-size: 12px; border-bottom: 2px solid rgb(255, 103, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(176, 176, 176); }
.site-mini-header .header-logo { width: 93px; margin-top: 26px; }
.site-mini-header .logo { width: 48px; height: 48px; }
.site-mini-header .logo::before, .site-mini-header .logo::after { width: 48px; height: 48px; }
.site-mini-header .header-title { float: left; margin-top: 26px; }
.site-mini-header .header-title h2, .site-mini-header .header-title p { margin: 0px; }
.site-mini-header .header-title h2 { font-size: 28px; line-height: 48px; font-weight: normal; color: rgb(66, 66, 66); }
.site-mini-header .has-more h2 { margin-bottom: 6px; line-height: 1; }
.site-mini-header .has-more p { color: rgb(117, 117, 117); line-height: 1; }
.site-mini-header .topbar-cart, .site-mini-header .topbar-info { position: relative; float: right; height: 40px; }
.site-mini-header .topbar-info { line-height: 40px; }
.site-mini-header .topbar-info .link, .site-mini-header .topbar-info .user, .site-mini-header .topbar-info .sep { float: left; }
.site-mini-header .topbar-info .link { padding: 0px 5px; }
.site-mini-header .topbar-info .sep { margin: 0px; }
.site-mini-header .topbar-info { margin-top: 30px; }
.site-mini-header .topbar-info .sep { color: rgb(224, 224, 224); }
.site-mini-header a { color: rgb(117, 117, 117); }
.modal-weixin .modal-bd { text-align: center; }
.modal-globalSites .modal-bd { text-align: center; }
.modal-globalSites .modal-bd h3 { color: rgb(66, 66, 66); font-size: 32px; margin: 0px; }
.modal-globalSites .modal-bd .modal-globalSites-tips { margin: 0px; font-size: 18px; }
.modal-globalSites .modal-bd .modal-globalSites-links { width: 480px; margin: 30px auto 0px; }
.modal-globalSites .modal-bd .modal-globalSites-links a { display: block; float: left; margin: 0px 20px 20px 0px; width: 140px; height: 40px; line-height: 40px; background-color: rgb(238, 238, 238); }
.modal-globalSites .modal-bd .modal-globalSites-links a:hover { background-color: rgb(255, 103, 0); color: rgb(255, 255, 255); }
.xm-recommend ul, .xm-recommend li, .xm-recommend dl, .xm-recommend dt, .xm-recommend dd { padding: 0px; margin-top: 0px; list-style: outside none none; }
.xm-recommend ul li { margin-bottom: 14px; height: 300px; background-color: rgb(255, 255, 255); text-align: center; position: relative; }
.xm-recommend ul li:hover { z-index: 2; }
.xm-recommend dl { padding: 0px 20px; margin-bottom: 0px; }
.xm-recommend dl dt { padding: 40px 0px 15px; height: 145px; }
.xm-recommend dl dd { margin-left: 0px; }
.xm-recommend .xm-recommend-name { margin-bottom: 10px; height: 18px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.xm-recommend .xm-recommend-name a { color: rgb(51, 51, 51); }
.xm-recommend .xm-recommend-price { margin-bottom: 10px; color: rgb(255, 103, 0); }
.xm-recommend .xm-recommend-tips { position: relative; color: rgb(117, 117, 117); }
.xm-recommend .xm-recommend-tips .btn { position: absolute; left: 37px; top: 0px; width: 120px; display: none; }
.xm-recommend .xm-recommend-notice { position: absolute; top: 0px; left: 0px; z-index: 5; width: 100%; opacity: 0; transform: translate3d(0px, -10px, 0px); transition: all 0.2s linear 0s; }
.xm-recommend-title { position: relative; margin: 0px; height: 50px; font-size: 30px; font-weight: 400; color: rgb(117, 117, 117); border-top: 1px solid rgb(224, 224, 224); }
.xm-recommend-title span { position: absolute; top: -20px; left: 372px; height: 40px; width: 482px; line-height: 40px; text-align: center; display: block; background-color: rgb(245, 245, 245); }
.modal-bigtap-queue { width: 800px; height: 600px; margin-left: -400px; margin-top: -300px; }
.modal-bigtap-queue .close { width: auto; padding: 0px 8px; font-size: 12px; }
.modal-bigtap-queue .modal-body { text-align: center; padding: 0px; }
.modal-bigtap-queue .con { height: 141px; overflow: hidden; }
.modal-bigtap-queue .title { margin: 30px 0px 0px; color: rgb(66, 66, 66); font-size: 38px; font-weight: normal; }
.modal-bigtap-queue .queue-tip-box { margin: 0px 0px 55px; overflow: hidden; }
.modal-bigtap-queue .queue-tip { display: none; color: rgb(102, 102, 102); margin: 0px; font-size: 16px; }
.modal-bigtap-queue .queue-posters { height: 459px; position: relative; overflow: hidden; }
.modal-bigtap-queue .queue-posters .poster { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; background-repeat: no-repeat; opacity: 0; transition: opacity 1s ease 0s, transform 20s linear 0s; }
.modal-bigtap-queue .queue-posters .poster-1 { background-image: url('bigtap-poster-1.jpg'); }
.modal-bigtap-queue .queue-posters .poster-2 { background-image: url('bigtap-poster-2.jpg'); }
.modal-bigtap-queue .queue-posters .poster-3 { background-image: url('bigtap-poster-3.jpg'); }
.modal-bigtap-queue .queue-posters .poster-4 { background-image: url('bigtap-poster-4.jpg'); }
.modal-bigtap-queue .queue-posters .poster-5 { background-image: url('bigtap-poster-5.jpg'); }
.modal-bigtap-error { width: 900px; height: 500px; margin-left: -450px; margin-top: -250px; }
.modal-bigtap-error .modal-body { height: 360px; padding: 140px 50px 0px 385px; background: transparent url('mitu-2.png') no-repeat scroll 5px 0px; }
.modal-bigtap-error h3 { color: rgb(51, 51, 51); font-size: 32px; line-height: 1; padding: 0px 0px 20px; margin: 0px; }
.modal-bigtap-error .error-tip { margin: 0px; padding-bottom: 40px; line-height: 28px; font-size: 16px; color: rgb(102, 102, 102); }
.modal-bigtap-mode { width: 700px; height: 460px; margin-left: -350px; margin-top: -230px; }
.modal-bigtap-mode .close { display: none; }
.modal-bigtap-mode .modal-body { padding-bottom: 0px; text-align: center; }
.modal-bigtap-mode .modal-body .title { margin: 0px 0px 20px; color: rgb(51, 51, 51); font-size: 32px; line-height: 1; }
.modal-bigtap-mode .modal-body .desc { margin: 0px; color: rgb(102, 102, 102); }
.modal-bigtap-mode .modal-body .reload { color: rgb(199, 15, 15); text-decoration: underline; }
.modal-bigtap-mode .modal-body .mode-loading { margin: 20px 0px; }
.modal-bigtap-mode .modal-body .input-text { display: block; margin: 0px auto 20px; }
.modal-bigtap-mode .modal-body .mode-action { margin: 20px 0px; }
.modal-bigtap-mode .modal-body .mode-con { margin-bottom: 20px; font-size: 16px; }
.modal-bigtap-mode .modal-body .tip { color: rgb(199, 15, 15); }
.modal-bigtap-soldout { width: 800px; height: 600px; margin-left: -400px; margin-top: -300px; }
.modal-bigtap-soldout .modal-body { padding: 0px; }
.modal-bigtap-soldout .modal-body .content { padding: 60px 0px; }
.modal-bigtap-soldout .modal-body .content .mitu { float: left; width: 240px; height: 240px; margin-left: 110px; margin-right: 8px; background: transparent url('bigtap-mitu-faild.png') no-repeat scroll 0% 0%; }
.modal-bigtap-soldout .modal-body .content .title { float: left; margin: 75px 0px 0px; font-size: 36px; line-height: 48px; }
.modal-bigtap-soldout .bigtap-recomment-goods .hd { margin-bottom: 34px; border-top: 1px solid rgb(224, 224, 224); text-align: center; }
.modal-bigtap-soldout .bigtap-recomment-goods .hd span { display: inline-block; padding: 0px 24px; font-size: 18px; line-height: 24px; position: relative; top: -12px; color: rgb(117, 117, 117); background-color: rgb(255, 255, 255); }
.modal-bigtap-soldout .bigtap-recomment-goods ul { margin: 0px; padding: 0px; list-style: outside none none; }
.modal-bigtap-soldout-norec { height: 480px; margin-top: -240px; }
.modal-bigtap-soldout-norec .modal-body .bigtap-recomment-goods { display: none; }
.modal-bigtap-soldout-norec .modal-body .content { margin-top: 60px; }
/* ::::: http://s01.mifile.cn/css/cart.min.css?39656a ::::: */

.modal-choose-pro { width: 1226px; margin-top: -300px; margin-left: -613px; background: transparent none repeat scroll 0% 0%; }
.modal-choose-pro .close { background-color: rgb(250, 250, 250); }
.modal-choose-pro .modal-header { background: transparent none repeat scroll 0% 0%; text-align: center; }
.modal-choose-pro .modal-header h3 { font-size: 28px; color: rgb(255, 255, 255); }
.modal-choose-pro .modal-body { padding: 30px 0px; margin-left: -14px; text-align: center; overflow: hidden; }
.modal-choose-pro .modal-footer { padding: 10px 0px 0px; background: transparent none repeat scroll 0% 0%; border: medium none; }
.modal-choose-pro ul { margin: 0px; padding: 0px; position: relative; overflow: hidden; }
.modal-choose-pro .list { margin: 0px auto; }
.modal-choose-pro .list li { float: left; height: 300px; text-align: center; cursor: pointer; color: rgb(66, 66, 66); position: relative; list-style: outside none none; background-color: rgb(255, 255, 255); }
.modal-choose-pro .list li img { display: block; width: 160px; height: 160px; margin: 40px auto 15px; }
.modal-choose-pro .list li .g-name { margin: 0px 0px 5px; }
.modal-choose-pro .list li .g-price { margin: 0px; color: rgb(255, 103, 0); }
.modal-choose-pro .list li .icon-radio { position: absolute; top: 20px; left: 20px; }
.modal-choose-pro .list li:hover .icon-radio { background-color: rgb(224, 224, 224); }
.modal-choose-pro .list .selected .icon-radio::before { border-color: rgb(255, 103, 0); }
.icon-radio { display: inline-block; width: 14px; height: 14px; border-radius: 7px; background-color: rgb(255, 255, 255); position: relative; transition: all 0.3s ease 0s; }
.icon-radio::before { content: ""; display: block; width: 20px; height: 20px; border: 1px solid rgb(224, 224, 224); border-radius: 11px; position: absolute; top: -4px; left: -4px; }
.page-main { padding-top: 38px; padding-bottom: 38px; }
.cart-goods-list { background-color: rgb(255, 255, 255); }
.cart-goods-list .list-head { height: 70px; line-height: 70px; padding-right: 26px; color: rgb(66, 66, 66); }
.cart-goods-list .list-head .col { float: left; }
.cart-goods-list .list-head .col-img { width: 120px; }
.cart-goods-list .list-head .col-name { width: 380px; }
.cart-goods-list .list-head .icon-checkbox { margin-right: 15px; }
.cart-goods-list .col-check { width: 110px; }
.cart-goods-list .col-check .icon-checkbox { display: inline-block; width: 18px; height: 18px; line-height: 18px; border: 1px solid rgb(224, 224, 224); margin-left: 24px; background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 20px; text-align: center; vertical-align: middle; position: relative; top: -1px; cursor: pointer; }
.cart-goods-list .col-check .icon-checkbox:hover { color: rgb(117, 117, 117); }
.cart-goods-list .col-check .icon-checkbox-selected { color: rgb(255, 255, 255); border-color: rgb(255, 103, 0); background-color: rgb(255, 103, 0); }
.cart-goods-list .col-check .icon-checkbox-selected:hover { color: rgb(255, 255, 255); }
.cart-goods-list .col-name { width: 380px; }
.cart-goods-list .col-name .name, .cart-goods-list .col-name .desc { width: 380px; margin: 0px; }
.cart-goods-list .col-name .name a, .cart-goods-list .col-name .desc a { color: rgb(255, 103, 0); }
.cart-goods-list .col-name .name { line-height: 1; margin-top: 8px; margin-bottom: 8px; font-size: 18px; font-weight: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.cart-goods-list .col-name .name a { color: rgb(66, 66, 66); }
.cart-goods-list .col-name .desc { color: rgb(117, 117, 117); font-size: 12px; }
.cart-goods-list .col-price { width: 75px; padding-right: 84px; text-align: right; color: rgb(66, 66, 66); }
.cart-goods-list .col-num { width: 150px; text-align: center; color: rgb(66, 66, 66); }
.cart-goods-list .col-total { width: 120px; padding-right: 81px; text-align: right; }
.cart-goods-list .col-action { width: 80px; text-align: center; }
.cart-goods-list .item-box .col-total, .cart-goods-list .item-sub-box .col-total { color: rgb(255, 103, 0); font-size: 16px; }
.cart-goods-list .item-box .col-num, .cart-goods-list .item-sub-box .col-num { font-size: 16px; }
.cart-goods-list .item-box .col-price, .cart-goods-list .item-sub-box .col-price { font-size: 16px; }
.cart-goods-list .item-box .col-action .del, .cart-goods-list .item-sub-box .col-action .del { display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 12px; color: rgb(117, 117, 117); font-size: 16px; transition: all 0.3s ease 0s; }
.cart-goods-list .item-box .col-action .del:hover, .cart-goods-list .item-sub-box .col-action .del:hover { color: rgb(255, 255, 255); background-color: rgb(229, 57, 53); }
.cart-goods-list .item-table { display: table; border-collapse: collapse; border-spacing: 0px; }
.cart-goods-list .item-table .item-row { display: table-row; }
.cart-goods-list .item-table .col { display: table-cell; vertical-align: middle; }
.cart-goods-list .item-box { padding: 15px 26px 15px 0px; border-top: 1px solid rgb(224, 224, 224); }
.cart-goods-list .item-box .col-img { width: 80px; height: 80px; padding-right: 40px; overflow: hidden; }
.cart-goods-list .item-disable-box { background-color: rgb(250, 250, 250); overflow: hidden; }
.cart-goods-list .item-disable-box .item-box { padding-left: 0px; margin-top: -1px; border-color: rgb(238, 238, 238); }
.cart-goods-list .item-disable-box .col { opacity: 0.4; }
.cart-goods-list .item-disable-box .col-check { width: 60px; }
.cart-goods-list .item-disable-box .col-status { width: 50px; text-align: center; color: rgb(117, 117, 117); }
.cart-goods-list .item-disable-box .col-name .name, .cart-goods-list .item-disable-box .col-name .desc { width: 351px; }
.cart-goods-list .item-disable-box .col-price {  }
.cart-goods-list .item-disable-box .col-total { width: 70px; color: rgb(66, 66, 66); padding-right: 36px; }
.cart-goods-list .item-disable-box .col-links { width: 95px; opacity: 1; }
.cart-goods-list .item-disable-box .col-links a { color: rgb(97, 97, 97); }
.cart-goods-list .item-disable-box .col-links a:hover { color: rgb(255, 103, 0); }
.cart-goods-list .item-disable-box .col-links .iconfont { font-size: 24px; vertical-align: middle; }
.cart-goods-list .item-disable-box .col-links .solid { display: none; }
.cart-goods-list .item-disable-box .col-action { opacity: 1; }
.raise-buy-box { margin: 20px 0px; }
.cart-bar { height: 50px; text-align: right; background-color: rgb(255, 255, 255); transition: background 0.3s ease 0s, top 0.3s ease 0s; position: relative; }
.cart-bar a { transition: color 0.3s ease 0s; }
.cart-bar i { font-style: normal; }
.cart-bar .section-left { float: left; }
.cart-bar .back-shopping { line-height: 50px; margin-left: 32px; }
.cart-bar .cart-total { margin-left: 16px; padding-left: 16px; border-left: 1px solid rgb(238, 238, 238); color: rgb(117, 117, 117); }
.cart-bar .cart-total i { color: rgb(255, 103, 0); }
.cart-bar .cart-coudan { color: rgb(117, 117, 117); }
.cart-bar .cart-coudan a { margin-left: 3px; color: rgb(255, 103, 0); }
.cart-bar .activity-money { padding: 0px 13px; border-right: 1px solid rgb(238, 238, 238); color: rgb(117, 117, 117); }
.cart-bar .total-price { padding-left: 13px; color: rgb(255, 103, 0); }
.cart-bar .total-price em { font-style: normal; font-size: 30px; }
.cart-bar .btn { width: 200px; height: 48px; line-height: 48px; font-size: 18px; margin-left: 50px; vertical-align: top; }
.cart-bar .no-select-tip { width: 200px; height: 48px; line-height: 48px; position: absolute; top: -58px; right: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 103, 0); color: rgb(255, 103, 0); text-align: center; }
.cart-bar .no-select-tip .arrow { display: block; width: 0px; height: 0px; border-style: solid dashed dashed; overflow: hidden; position: absolute; left: 50%; }
.cart-bar .no-select-tip .arrow-a { bottom: -8px; margin-left: -10px; border-width: 8px 10px 0px; border-color: rgb(255, 103, 0) transparent transparent; z-index: 1; }
.cart-bar .no-select-tip .arrow-b { bottom: -7px; margin-left: -8px; border-width: 7px 8px 0px; border-color: rgb(255, 255, 255) transparent transparent; z-index: 2; }
.cart-empty { height: 273px; padding-left: 558px; margin: 65px 0px 130px; background: transparent url('cart-empty.png') no-repeat scroll 124px 0px; color: rgb(176, 176, 176); overflow: hidden; }
.cart-empty h2 { margin: 70px 0px 15px; font-size: 36px; }
.cart-empty .btn { width: 170px; height: 48px; line-height: 48px; }
.cart-empty .login-desc { display: none; margin: 0px 0px 20px; font-size: 20px; color: rgb(176, 176, 176); }
.cart-empty .btn-login { display: none; }
.cart-recommend { margin: 60px 0px 0px; }
.modal-baoxian { width: 800px; height: 527px; margin-left: -400px; margin-top: -264px; }
.modal-baoxian .modal-body { padding: 20px; }
.modal-baoxian .modal-body .con-1 h4 { margin: 0px 0px 20px; font-size: 16px; color: rgb(66, 66, 66); }
.modal-baoxian .modal-body .con-1 .icon-list { padding: 0px 0px 20px; border-bottom: 1px solid rgb(224, 224, 224); margin: 0px; }
.modal-baoxian .modal-body .con-1 .icon-list .icon { display: block; width: 80px; height: 80px; margin: 0px auto 10px; background: transparent url('icon-baoxian-service.png') no-repeat scroll 0% 0%; }
.modal-baoxian .modal-body .con-1 .icon-list .icon-1 { background-position: 0px 0px; }
.modal-baoxian .modal-body .con-1 .icon-list .icon-2 { background-position: 0px -80px; }
.modal-baoxian .modal-body .con-1 .icon-list .icon-3 { background-position: 0px -160px; }
.modal-baoxian .modal-body .con-1 .icon-list li { float: left; width: 253.333px; margin: 0px; list-style: outside none none; text-align: center; color: rgb(102, 102, 102); }
.modal-baoxian .modal-body .con-1 .xuzhi dt { margin-bottom: 6px; font-size: 16px; color: rgb(66, 66, 66); }
.modal-baoxian .modal-body .con-1 .xuzhi dd { margin: 0px; color: rgb(102, 102, 102); line-height: 2; }
.modal-baoxian .modal-body .con-1 .xuzhi dd a { margin-left: 10px; color: rgb(255, 103, 0); cursor: pointer; }
.modal-baoxian .modal-footer { padding-left: 20px; padding-right: 20px; text-align: right; }
.modal-baoxian .modal-footer .btn { margin-left: 10px; margin-right: 0px; }
.modal-baoxian .modal-footer p { float: left; line-height: 40px; margin: 0px; color: rgb(66, 66, 66); }
.modal-baoxian .modal-footer p span, .modal-baoxian .modal-footer p a { cursor: pointer; }
.modal-baoxian .modal-footer p a { color: rgb(66, 66, 66); text-decoration: underline; }
.modal-baoxian .modal-footer .iconfont { display: inline-block; width: 18px; height: 18px; line-height: 18px; border: 1px solid rgb(224, 224, 224); margin-right: 6px; background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 20px; text-align: center; vertical-align: middle; position: relative; top: -1px; }
.modal-baoxian .modal-footer .iconfont:hover { color: rgb(117, 117, 117); }
.modal-guajia { width: 760px; height: 502px; margin-left: -380px; margin-top: -251px; }
.modal-guajia .modal-body { height: 320px; padding: 20px; overflow-y: auto; color: rgb(117, 117, 117); }
.modal-guajia .modal-body h4 { margin: 0px 0px 10px; font-size: 16px; color: rgb(66, 66, 66); }
.modal-guajia .modal-body ol { padding: 0px 0px 0px 20px; margin-bottom: 20px; line-height: 2; }
.modal-guajia .modal-body table { width: 600px; margin-bottom: 40px; }
.modal-guajia .modal-body table caption { padding-bottom: 10px; text-align: left; font-size: 16px; color: rgb(66, 66, 66); }
.modal-guajia .modal-body table thead th { background: rgb(74, 153, 209) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 40px; border: 1px solid rgb(233, 240, 245); }
.modal-guajia .modal-body table thead .th-1 { width: 200px; }
.modal-guajia .modal-body table thead .th-2 { width: 300px; }
.modal-guajia .modal-body table thead .th-3 { width: 100px; }
.modal-guajia .modal-body table tbody td { height: 40px; background: rgb(223, 234, 241) none repeat scroll 0% 0%; border: 1px solid rgb(233, 240, 245); color: rgb(103, 103, 103); text-align: center; }
.modal-guajia .modal-body dl { margin: 0px; }
.modal-guajia .modal-body dl dt { font-size: 16px; color: rgb(51, 51, 51); margin: 0px 0px 10px; }
.modal-guajia .modal-body dl dd { margin: 0px; line-height: 2; }
.modal-guajia .modal-footer { padding-left: 20px; padding-right: 20px; }
.modal-guajia .modal-footer .btn { margin-left: 10px; margin-right: 0px; }
.modal-water-install { width: 800px; height: 600px; margin-left: -400px; margin-top: -300px; }
.modal-water-install .modal-body { height: 419px; max-height: 420px; padding: 20px; color: rgb(117, 117, 117); }
.modal-water-install .modal-body h4 { margin: 0px 0px 10px; font-size: 16px; color: rgb(66, 66, 66); }
.modal-water-install .modal-body ol { padding: 0px 0px 0px 20px; margin-bottom: 20px; line-height: 2; }
.modal-water-install .modal-body table { width: 600px; margin-bottom: 20px; }
.modal-water-install .modal-body table caption { padding-bottom: 10px; text-align: left; font-size: 16px; color: rgb(66, 66, 66); }
.modal-water-install .modal-body table thead th { background: rgb(74, 153, 209) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 40px; border: 1px solid rgb(233, 240, 245); }
.modal-water-install .modal-body table tbody td { height: 40px; background: rgb(223, 234, 241) none repeat scroll 0% 0%; border: 1px solid rgb(233, 240, 245); color: rgb(103, 103, 103); text-align: center; }
.modal-water-install .modal-body p { margin: 0px; }
.modal-water-install .modal-footer { padding-left: 20px; padding-right: 20px; }
.modal-water-install .modal-footer .btn { margin-left: 10px; margin-right: 0px; }
.site-mini-header .has-more { height: 48px; }
.site-mini-header .has-more h2 { float: left; line-height: 48px; margin-bottom: 0px; }
.site-mini-header .has-more p { float: left; height: 20px; line-height: 20px; margin-top: 20px; margin-left: 15px; }
.firebugResetStyles { z-index: 2147483646 ! important; top: 0px ! important; left: 0px ! important; display: block ! important; border: 0px none ! important; margin: 0px ! important; padding: 0px ! important; outline: 0px none ! important; min-width: 0px ! important; max-width: none ! important; min-height: 0px ! important; max-height: none ! important; position: fixed ! important; transform: rotate(0deg) ! important; transform-origin: 50% 50% 0px ! important; border-radius: 0px ! important; box-shadow: none ! important; background: transparent none repeat scroll 0% 0% ! important; pointer-events: none ! important; white-space: normal ! important; }
style.firebugResetStyles { display: none ! important; }
.firebugResetStyles::before, .firebugResetStyles::after { content: "" ! important; }
